.kui div,
.kui section,
.kui article {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.kui {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.kui p {
    margin: 0 0 10px;
    color: #000;
}
.kui body {
    font-size: 14px;
    font-family: "Arial", Tahoma, sans-serif !important;
    line-height: 22px;
    padding: 0;
}

.kui ul { list-style: none; }
.kui .none { display: none; }

/* white */
.kui .white5  { padding: 0 0 5px 0;}
.kui .white10 { padding: 0 0 10px 0;}
.kui .white15 { padding: 0 0 15px 0;}
.kui .white20 { padding: 0 0 20px 0;}
.kui .white25 { padding: 0 0 25px 0;}
.kui .white30 { padding: 0 0 30px 0;}
.kui .white35 { padding: 0 0 35px 0;}
.kui .white40 { padding: 0 0 40px 0;}
.kui .white50 { padding: 0 0 50px 0;}
.kui .white7vw { padding: 0 0 7vw 0;}
/* # white */

/* size */
.kui .tit40 { font-size: 40px !important; line-height: normal !important;}
.kui .tit30 { font-size: 30px !important; line-height: normal !important;}
.kui .tit24 { font-size: 24px !important; line-height: normal !important;}
.kui .tit18 {font-size: 18px !important;  }

.kui .tit-40, .kui  .tit-30,
.kui .tit-24, .kui .tit-18 {
    font-weight: bold !important;
    line-height: normal !important;
}
@media only screen and (max-width: 767px) {
    .kui .tit-heading { font-size: 30px !important; }
}
/* #size */

/* line-height */
.kui .lineheight25 { line-height: 25px !important; }
.kui .lineheight { line-height: normal !important; }
/* line-height */




/* image */
.kui .img-resp {
	position: relative;
	width: 100%;
}
.kui .over-black {
	overflow: hidden;
	background: black;
}
.kui .over {
    overflow: hidden;
}

.kui .img50 { padding-bottom: 50%; }
.kui .img56 { padding-bottom: 56.25%; }
.kui .img60 { padding-bottom: 60%; }
.kui .img62 { padding-bottom: 62%; }
.kui .img65 { padding-bottom: 65% }
.kui .img66 { padding-bottom: 66.66%; }
.kui .img70 { padding-bottom: 70%; }
.kui .img74 { padding-bottom: 74% }
.kui .img75 { padding-bottom: 75%; }
.kui .img80 { padding-bottom: 80%; }
.kui .img85 { padding-bottom: 85%; }
.kui .img90 { padding-bottom: 90%; }
.kui .img100 { padding-bottom: 100%; }
.kui .img150 { padding-bottom: 150%; }


.kui .img-resp > img {
	position: absolute;	
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%; margin: auto;
}
.kui .height100 { height: 100% !important; }

/* Image Width full 100%, height auto */
.kui .img-resp100,
.kui .img-resp100 > img {
    position: relative;
    width: 100%;
}
/* Image Width full 100%, height auto */
/* # image */



/* col1-1170 */
.kui .col1-1170 {
	position: relative;
	width: 1170px;
	margin: 0 auto;
	padding: 0;
}
@media only screen and (max-width: 1199px) {
	.kui .col1-1170 {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 767px) {
    .kui .col1-1170 {  padding: 0 5px;   }
}
/* # col1-1170 */
